<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if from.errors %}
        <p>There is an error</p>
    {% endif %}

    {% if next %}
        <p>You cannot access</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>Username: {{ form.username }}</p>
        <p>Password: {{ form.password }}</p>
        <p><input type="submit" value="login"></p>
        <button onclick="location.href='/account/register'" type="button">register</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</body>
</html>