<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto grade</title>
    <style>
            button {
                border: none;
                color: black;
                padding: 15px 32px;
                margin: 50px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 18px;
                font-size: 16px;
            }
    </style>
</head>
<body>
    <button style="position: absolute;
        top: 8px;
        right: 150px;" onclick="location.href='/courses/{{course}}/{{announce}}'" type="button">Back </button>
    <button style="position: absolute;
        top: 8px;
        right: 16px;" onclick="location.href='{% url 'logout' %}?next=/'" type="button">Logout </button>
    <h1 style="font-size:60px; margin-left: 20px; margin-top: 100px;">Autograder</h1>
    <h2 style="font-size:45px; position: absolute; top: 100px; right: 200px;">Course : {{course}}</h2>
    <h2 style="font-size:45px; position: absolute; top: 100px; right: 800px;">Assignment : {{announce}}</h2>
    <form method="post" action="{% url 'add_auto_grade' course=course announce=announce%}" enctype="multipart/form-data">
        {% csrf_token %}
        <center>
            <h2 style="font-size: 40px; margin-top: 140px;">Auto file : <input type="file" name="auto_file">
            Test cases : <input type="file" name="test_file">
            Command: <input type="text" name="command"></h2>
            <button type="submit" value="Add">Submit</button>
        </form>
        <br>
        <button onclick='location.href="{% url 'run_auto_grade' course=course announce=announce%} "'>Start Autograder</button>
        <button onclick='location.href="{% url 'rerun_auto_grade' course=course announce=announce%}"'>Restart Autograder</button>
        <h2 style="font-size: 25px; margin-left: -200px;">Grading Progess : <div id="counter"></div></h2>
        <h2 style="font-size: 30px;">Download Marklist</h4>
        <form method="post" action="{% url 'auto_get_csv' course=course announce=announce%}" enctype="multipart/form-data">
            {% csrf_token %}
            {% for x in csv_cols %}
                <p style="font-size: 20px;"><input type="checkbox" name="choose[]" value="{{ x }}">Display {{ x }} column</p>
            {% endfor %}
            <button style="padding: 7px 20px; margin: 5px; margin-left: 10px;" type="submit">Download</button>
        </form>
    </center>
</body>
<script>
    function get_counter(){
        let request = new XMLHttpRequest();
        request.open('GET', '/courses/{{ course }}/{{ announce }}/auto_grade/get_count');
        request.responseType = 'json';
        request.onload = function() {
            document.getElementById('counter').innerHTML = request.response['count'][0]+'/'+request.response['count'][1]
        };
        request.send();
    }
    get_counter()
    setInterval(function(){get_counter()} , 4000);
</script>
</html>