<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submission</title>
</head>
<style>
        button {
            border: none;
            color: black;
            padding: 15px 32px;
            margin: 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            font-size: 16px;
        }
 </style>
<body>
    <button style="position: absolute;
        top: 8px;
        right: 150px;" onclick="location.href='/courses/{{course}}/{{announce}}'" type="button">Back </button>
    <button style="position: absolute;
        top: 8px;
        right: 16px;" onclick="location.href='{% url 'logout' %}?next=/'" type="button">Logout </button>
    <h1 style="font-size:60px; margin-left: 20px; margin-top: 100px;">Upload submissions</h1>
    <h2 style="font-size:45px; position: absolute; top: 100px; right: 200px;">Course : {{course}}</h2>
    <h2 style="font-size:45px; position: absolute; top: 100px; right: 800px;">Assignment : {{announce}}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="document">
        <button type="submit">Submit</button>
    </form>
</body>
</html>